// Template Font Name
$template-font: 'Raleway', sans-serif;

// Template Color Name
$primary-color: #5E5FD6;
$secondary-color: #E8653E;
$heading-color: #424242;
$paragraph-color: rgba(66, 66, 66, 0.5);

// Google Font
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

// Transition
$transition: all .3s ease-in;
